/*SPAZIATO GLI ELEMENTI DI TUTTO IL FILE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FORMATTAZIONE STILE DEL BACKGROUND DELL'HEADER */
.bg{
    background:url(../img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 500px 250px;
    height: 120px;
}

/* FORMATTAZIONE STILE DEL LOGO ALL'INTERNO DELL'HEADER */
#logo{
    width: 200px;
    height: 200px;
    text-align: left;
    padding-bottom: 30px;
}

/* CREATO LEGGERO DISTACCO TRA TESTO HEADER E TESTO DEL MAIN */
main{
    margin: 15px;
}

/* STILE INTESTAZIONE TABELLA */
#intestazione{
    background-color:  #20A9E5;
    color: white;
}
/* TENTATO DI RENDERE LA TABELLA GUARDABILE CON SCARSI RISULTATI */
th,td,tr{
    text-align: left;
    padding: 15px;
    margin: 0;
}
/* AGGIUNTO COLORE SOLO SULLE CELLE DISPARI */
tr:nth-child(odd) {
    background-color:#B1E5F2;
}

p{
    padding-top: 30px;
}

h3{
    color: #808080 ;
}

/* DATO STILE AD ENTRAMBI I DIV DEL FOOTER */
.imgfooter{
    background-size: 200px 200px;
    color: white;
    background-repeat: no-repeat;
    text-align: left;
    height: 200px;
    width: 200px;
    margin: 10px;
}
/* IMG DEL PRIMO DIV */
#img1{
    background-image: url(../img/monitor.jpg);
    
}
/* IMG DEL SECONDO DIV */
#img2{
    background-image: url(../img/graph.jpg);
}