*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background:url(../img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 500px 250px;
    height: 120px;
}

#logo{
    width: 200px;
    height: 200px;
    text-align: left;
    padding-bottom: 30px;
}

main{
    margin: 15px;
}


#intestazione{
    background-color:  #20A9E5;
    color: white;
}
th,td,tr{
    text-align: left;
    padding: 15px;
    margin: 0;
}
tr:nth-child(odd) {
    background-color:#B1E5F2;
}

p{
    padding-top: 30px;
}

h3{
    color: #808080 ;
}