*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background:url(../img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 500px 250px;
    height: 120px;
}

#logo{
    width: 200px;
    height: 200px;
    text-align: left;
    /* display: flex;
    align-items: flex-end;
    position: absolute; */
    padding-bottom: 30px;
}
